<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Calculator</title>
</head>
<body>
	<h1>Calculator Fun Time!! :)</h1>
	<h2>Two Argument Calculations:</h2>
	<form method="post" action="calculate">
		<input type="number" name="firstNumber" step="0.01" required>
		<br> <select name="op">
			<option>+</option>
			<option>-</option>
			<option>*</option>
			<option>/</option>
			<option>^</option>
			<option>roots</option>
		</select> <br> <input type="number" name="secondNumber" step="0.01"
			required><br>
		<button type="submit">Submit</button>
	</form>
	<h2>One Argument Calculations:</h2>
	<form method="post" action="calculate">
	<input type="number" name="firstNumber" step="0.01" required>
	<input type="hidden" name="secondNumber" value="0"> <!-- Adding hidden field to pass zero for secondNumber back to controller -->
	<select name="op">
			<option>sin</option>
			<option>cos</option>
			<option>tan</option>
			<option>sinh</option>
			<option>cosh</option>
			<option>tanh</option>
			<option>ln</option>
		</select>
		<button type="submit">Submit</button>
	</form>
	<p>Result is: {{ calculator.result }}</p>
	<form method="post" action="memAdd">
		<button>M+</button>
	</form>
	<form method="post" action="memSub">
		<button>M-</button>
	</form>
	<form method="post" action="memClear">
		<button>MC</button>
	</form>
	<form method="post" action="memRecall">
		<button>MR</button>
	</form>
	<br>
	<h2>Calculation History</h2>
	<form method="post" action="/clear">
		<button type="submit">Clear History</button>
	</form>
	<table border="1">
		<thead>
			<tr>
				<th>First Number</th>
				<th>Operator</th>
				<th>Second Number</th>
				<th>Result</th>
			</tr>
		</thead>
		<tbody>
			{{#calculator.resultList}}
			<tr>
				<td>{{ firstNumber }}</td>
				<td>{{ op }}</td>
				<td>{{ secondNumber }}</td>
				<td>{{ result }}</td>
			</tr>
			{{/calculator.resultList}}
		</tbody>
	</table>
</body>
</html>